body {
  background-color: lightpink;
  text-align: left;
  color: deeppink;
  font-size: 23px;
}

img {  float: right;
  width: 500px;
  height: 400px;
  margin: 10px;
  border-color: rgb(234, 156, 182);
  border-width: 5px;
  border-style: dashed;
  border-radius: 10px;
}

.myImage {
  background-image: url("brianna_blossoms.jpeg");
}